.container
  .row
    = Like.pluck(:bookmark_id)
    - current_user.likes do |bookmark|
      = link_to "#{bookmark.url}", @bookmark.url
      = render partial: 'likes/like', collection: @likes, locals: { bookmark_id: bookmark.id }
      %br/