!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      Welcome to Mark1, #{@user.name}
    %p
      You have successfully signed up to Mark1,
      your username is: #{@user.login}.
      %br/
    %p
      To login to the site, just follow this link: #{@url}.
    %p Thanks for joining and have a great day!