%h5 New Topic
= form_for @topic do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control field-small', placeholder: "Enter topic"
  .form-group
    = f.submit "Save", class: 'btn btn-success btn-sm'