.container
  %h1 Edit Topic
  = form_for @topic do |f|
    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control'
    .form-group
      = f.submit "Save", class: 'btn btn-success'