.container
  .row
    %h1 Topics
    - @topics.each do |topic|
      = link_to "#{topic.title}", topic
      %br/
    = succeed "\\>" do
      %br/
    - if current_user
      = link_to "New Topic", new_topic_path, class: 'btn btn-success'