.container
  - unless current_user
    .jumbotron.no-margin
      .row.no-margin.no-padding
        =image_tag  "http://i.imgur.com/0QHoXMH.png", :class => "my_class"
        %p Are you looking for a new way to store and share your bookmarks?
      .row.no-margin
        .col-md-6.pull-left.no-padding
          %h2= link_to "Create a new account", new_user_registration_path
          %br/
        .col-md-6.no-padding
          %h2 Already have an account?
          %h4= link_to "Sign in", new_user_session_path
  - else
    .jumbotron.no-margin
      .row.no-margin.no-padding
        =image_tag  "http://i.imgur.com/0QHoXMH.png", :class => "my_class"
        %p Are you looking for a new way to organize your bookmarks and share them with friends?
    .row.no-margin
      .col-md-4.pull-left
        %br/
        .panel.panel-primary
          .panel-heading
          .panel-body
            %h3= link_to "Topics", topics_path
      .col-md-4
        %br/
        .panel.panel-primary
          .panel-heading
          .panel-body
            %h3 ?
      .col-md-4
        %br/
        .panel.panel-primary
          .panel-heading
          .panel-body
            %h3 ?